.movieContainer {
    text-align: center;
    .header {
        .title {

        }
        .year {

        }
    }
    .poster {

    }
    .stars {

    }
    .plot {
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }
}
