.movieContainer {
    text-align: center;
    .movieHeader {
        .year {
            font-size: 12px;
        }
    }
    .stars {

    }
    .plot {
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }

}
