body {
    margin: 0 auto;
    padding: 0;

    #dashboard {
        width: 100%;
        margin: 0 auto;
        color: red;
    }
}

//\\//\\**//\\//\\**//\\//\\** LAYOUTS **//\\//\\**//\\//\\**//\\//\\
@import "./components/layouts/header/style.scss";
//\\//\\**//\\//\\**//\\//\\** CONTAINERS **//\\//\\**//\\//\\**//\\//\\
@import "./components/containers/pages/home/style.scss";
@import "./components/containers/pages/details/style.scss";
//\\//\\**//\\//\\**//\\//\\** OMDB_COMPONENTS **//\\//\\**//\\//\\**//\\//\\
@import "./components/omdb/movie/style.scss";
@import "./components/omdb/movie_show/style.scss";
@import "./components/omdb/search_box/style.scss";
@import "./components/omdb/search_results/style.scss";
//\\//\\**//\\//\\**//\\//\\** CORE COMPONENTS **//\\//\\**//\\//\\**//\\//\\
@import "./components/core/button/style.scss";
@import "./components/core/input/style.scss";
